# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programowanie imperatywne\cwiczenia7zad1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
