# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\programowanie imperatywne\cwiczenia6zad2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
